.body{
  margin: 0px;
}
.header{
  background-color:rgb(80, 255, 211);
  color: black;
  padding: 1rem;
}
.title{
  display: inline;
}
.head-options-block{
  text-align: right;
  display: inline;
}
.head-list{
  list-style-type: none;
}
.head-list-items{
  display: inline;
  padding: 1rem;
}
.head-list-items-links{
  color: black;
  text-decoration: none;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  box-shadow: 0.4rem 0.4rem rgba(0, 0, 0,0.5);
}

.blogs-main-block{
  text-align: center;
  margin: auto;
  vertical-align: middle;
  align-items: center;
}
.blogs-sub-block{
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto; 
}
.blogs-sub-blog{
  margin: auto;
  width: 30%; 
}
.image-main{
  list-style-type: none;
  padding-inline-start: 0px;
  display: inline;
  flex-wrap: wrap;
  margin: 0.1rem;
  align-content: center;
}
.image-box{
  display:inline-block;
  vertical-align: middle;
  align-self: center;
  margin: 0.5rem;
  padding: 0.3rem;
}
.image-box:hover {
  transform: scale(1.2);
}
.blogs-list{
  list-style-type: none;
  padding:auto;
  margin:auto;
  padding-inline-start: 0px;
}
.blogs-list-items{
  padding: 1rem;
}
.blogs-list-items-title{
  padding: 1rem;
  margin:auto;
  text-align: center;
}
.blogs-list-items-links{
  color:black;
  text-decoration: none;
  padding: 0.5rem;
  border: 3px solid rgb(80, 255, 211);
  border-radius: 1rem;
}
.footer{
  background-color: rgb(80, 255, 211);
  color: black;
  text-align: center;
  padding: 1rem;
}
.footer-list-items{
  display: inline;
  padding: 2rem;
}