.body{
  margin: 0px;
}
.header{
  background-color:coral;
  color:white;
}
.head-options-block{
  text-align: right;
}
.head-list{
  list-style-type: none;
}
.head-list-items{
  display: inline;
  padding: 1rem;
}
.head-list-items-links{
  color:white;
  text-decoration: none;
}

.blogs-main-block{
  text-align: center;
  margin: auto;
}
.blogs-sub-block{
  border: 2px solid coral;
  border-radius: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  height: 50vh;
  max-width: 500px;
}

.footer{
  background-color: coral;
  color: white;
  text-align: center;
}
.footer-list-items{
  display: inline;
  padding: 2rem;
}