@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300;500;700&display=swap');
.body{
  font-family: 'Mali',cursive;
  text-align: center;
  margin: auto;
  background-color: white;
  padding: 1px 1px 1px 1px;
}
#paper {
  display: block;
  width:700px;
  max-height: 900px;
  margin: 20px auto 20px auto;
  background-color: rgb(221, 194, 154);
  box-shadow: 1px 1px 5px 1px rgb(136, 136, 136);
  position: relative;
  padding-top: 20px;
  padding-bottom: 10px;
}
#paper::before {
  content: '';
  width: 2px;
  height: 100%;
  background-color: rgba(253, 94, 94, 0.6);
  position: absolute;
  top: 0rem;
  left: 4rem;
}
#content{
  padding-top: 0.3rem;
  padding-left: 5rem;
  padding-right: 1rem;
  line-height: 1.57rem;
  font-family: 'Mali', cursive;
  font-size: 19px;
  letter-spacing: 1px;
  word-spacing: 5px;
  margin:1rem;
}
.head{
  height: 70px;
  width:auto;
  padding:0.5rem;
}
.date{
  margin: auto 1rem auto auto;
  text-align: center;
  height:28px;
  width:150px;
  font-family: 'Mali', cursive;
  font-size: 19px;
  padding:0px;
}
.title{
  margin-left:6rem;
  text-align: center;
  height: 35px;
  width:550px;
  font-family: 'Mali', cursive;
  font-size: 30px;
  padding: 0.5rem;
}
.last{
  height:30px;
  width:auto; 
}

@media(max-width:480px){
  .body{
    font-family: 'Mali',cursive;
    text-align: center;
    margin: auto;
    background-color: white;
    padding: 1px 1px 1px 1px;
  }
  #paper {
    width:400px;
    max-height: 1700px;
    margin: 5px 5px 5px 5px;
    background-color: rgb(222, 194, 154);
    box-shadow: 1px 1px 5px 1px rgb(136, 136, 136);
    position: relative;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  #paper::before {
    content: '';
    width: 2px;
    height: 100%;
    background-color: rgba(253, 94, 94, 0.6);
    position: absolute;
    top: 0rem;
    left: 3rem;
  }
  #content{
    padding-top: 0.3rem;
    padding-left: 3rem;
    padding-right: 1rem;
    line-height: 1.57rem;
    font-family: 'Mali', cursive;
    font-size: 19px;
    letter-spacing: 1px;
    word-spacing: 5px;
    margin:1rem;
  }
  .head{
    height: 5rem;
    width:auto;
    padding:0.5rem;
  }
  .date{
    margin: auto 1rem auto auto;
    text-align: center;
    height:15px;
    width:90px;
    font-family: 'Mali', cursive;
    font-size: 14px;
  }
  .title{
    margin:0.5rem auto 0.5rem auto;
    text-align: center;
    height: 35px;
    width: auto;
    font-family: 'Mali', cursive;
    font-size: 25px;
    padding-left: 4rem;
  }
  .last{
    height:30px;
    width:auto; 
  }
}