@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300;500;700&display=swap');
#paper {
  display: block;
  width:800px;
  max-height: 1000px;
  margin: 20px auto 20px auto;
  background-color: white;
  box-shadow: 1px 1px 5px 1px rgb(136, 136, 136);
  position: relative;
  padding-top: 20px;
  padding-bottom: 10px;
}
#paper::before {
  content: '';
  width: 2px;
  height: 100%;
  background-color: rgba(255,0,0,0.6);
  position: absolute;
  top: 0rem;
  left: 4rem;
}
#pattern {
  height: auto;
  background-image: repeating-linear-gradient(white 0px, white 24px, rgb(0, 0, 0) 25px);
}
#content{
  padding-top: 0.3rem;
  padding-left: 5rem;
  padding-right: 1rem;
  line-height: 1.57rem;
  font-family: 'Mali', cursive;
  font-size: 19px;
  letter-spacing: 1px;
  word-spacing: 5px;
  margin:1rem;
}
.head{
  height: 5rem;
  width:auto;
  padding:0.5rem;
}
.date{
  margin: auto 1rem auto auto;
  text-align: center;
  height:30px;
  width:150px;
  border: 1px solid black;
  font-family: 'Mali', cursive;
  font-size: 19px;
}
.title{
  margin:0.5rem auto 0.5rem auto;
  text-align: center;
  height:40px;
  width:200px;
  border: 1px solid black;
  font-family: 'Mali', cursive;
  font-size: 2.5rem;
  padding:0.3rem;
}
.space{
  height:30px;
  width:100px;
  border: 1px solid black;
}
.last{
  height:30px;
  width:auto; 
}

@media(max-width:480px){
  #paper {
    width:350px;
    max-height: 100%;
    margin: 10px;
    background-color: white;
    box-shadow: 1px 1px 5px 1px rgb(136, 136, 136);
    position: relative;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  #paper::before {
    content: '';
    width: 2px;
    height: 100%;
    background-color: rgba(255,0,0,0.6);
    position: absolute;
    top: 0rem;
    left: 3rem;
  }
  #pattern {
    height: 100%;
    background-image: repeating-linear-gradient(white 0px, white 24px, rgb(0, 0, 0) 25px);
  }
  #content{
    padding-top: 0.3rem;
    padding-left: 3rem;
    padding-right: 1rem;
    line-height: 1.57rem;
    font-family: 'Mali', cursive;
    font-size: 19px;
    letter-spacing: 1px;
    word-spacing: 5px;
    margin:1rem;
  }
  .head{
    height: 5rem;
    width:auto;
    padding:0.5rem;
  }
  .date{
    margin: auto 1rem auto auto;
    text-align: center;
    height:15px;
    width:90px;
    border: 1px solid black;
    font-family: 'Mali', cursive;
    font-size: 14px;
  }
  .title{
    margin:0.5rem auto 0.5rem auto;
    text-align: center;
    height:40px;
    width:200px;
    border: 1px solid black;
    font-family: 'Mali', cursive;
    font-size: 2.5rem;
    padding:0.3rem;
  }
  .space{
    height:30px;
    width:100px;
    border: 1px solid black;
  }
  .last{
    height:30px;
    width:auto; 
  }
}